<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= content_for?(:title) ? yield(:title) : "Flourish: Coaching for Life" %></title>
    <%= stylesheet_link_tag "application" %>
    <%= stylesheet_link_tag "styles" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "subnav" %>
    <%= render "nav" %>
    <div class="row">
      <%= yield %>
    </div>
    <%= render "footer" %>
  </body>
</html>
